.form {
  @include flex(flex, row, false, stretch, center);
  height: 60px;
  margin-bottom: 60px;
  border: 1px solid $tab-text-color;

  &__input {
    padding: 19px 30px;
    margin-bottom: 20px;
    border: none;
    border-right: 1px solid $tab-text-color;
    background-color: inherit;
    outline: none;
    @include font(16px, $tab-text-color, 300, 1, left, 6.16px);
  }

  &__btn {
    padding: 20px 30px;
    border: none;
    background-color: inherit;
  }

  &__icon {
    height: 16px;
    width: 25px;
  }

  input::placeholder {
    @include font(16px, $tab-text-color, 300, 1, left);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @include font(18px, $tab-text-color, 400, 2.222, left);
    box-shadow: 0 0 0px 1000px $tab-text-color inset !important;
  }
}
