$main-text-color: #ffffff;
$header-line-color: #dce0e7;
$header-line-through: #92aa99;
$header-shadow-color: rgba(164, 172, 183, 0.2);
$border-color: #9db892;
$about-text-color: #1c1c1b;
$about-bcg-color: #f7f8f3;
$about-tab-border: #dce1c6;
$about-tab-active: #656563;
$tab-title-color: #000000;
$tab-text-color: #6e774a;
$card-price-bcg-color: #f1f1f1;
$card-add-bcg-color: #6e774a;
$accordion-border-color: #eef1e5;
$testimonials-ratings-color: #aab384;
